<div class='form-container'>
  <div class='form-header'>
    <h2>Here is the form title!</h2>
  </div>

  <div class='form-body'>
	  <%= form_for @question do |f| %>
	    <p>Here is a description regarding the form.</p>

	    <ul>
				<% @question.errors.full_messages.each do |e| %>
					<li><%= e %></li>
				<% end %>
			</ul>

      <ul>
        <li>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </li>
        <li>
          <%= f.label :body %>
					<%= f.text_area :body %>
        </li>
      </ul>

      <%= f.submit %>
  	<% end %>
  </div>
</div>