<%= form_for @question do |f| %>

	<% if @question.errors.any? %>
		<ul>
			<% @question.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :body %>
	<%= f.text_area :body %>

	<%= f.submit %>
<% end %>