<div class='question-show-container'>
  <div class='question-show-question'>
    <div class='question-show-question-header'>
      <h1><%= @question.title %></h1>
      <p>Question asked by <%= @question.user.email %> at <%= @question.created_at.strftime("%m/%d/%Y, %I:%M%p") %>.</p>
      <% if @question.user == current_user %>
        <p>This is yours! Would you like to <%= link_to 'edit your question', edit_question_path(@question) %>?</p>
      <% end %>
    </div>
    <div class='question-show-question-body'>
      <p><%= @question.body %></p>
      <div class='question-show-votes <%= @question.vote_class(current_user) %>'>
        <%= link_to "/\\", new_vote_path(votable_type: 'Question', votable_id: @question.id, value: 1, question_id: @question.id) %>
        <%= @question.net_vote %>
        <%= link_to '\/', new_vote_path(votable_type: 'Question', votable_id: @question.id, value: -1, question_id: @question.id) %>
      </div>
    </div>
    <div class='question-show-question-footer'>
      <p><%= link_to 'Add Answer', new_question_answer_path(@question) %></p>
      <!-- <p><%= link_to 'Add Comment', new_comment_path %></p> -->
      <%= form_tag("/comments/new", method: "get") do %>
        <%= hidden_field_tag(:commentable_type, @question.class) %>
        <%= hidden_field_tag(:commentable_id, @question.id) %>
        <%= submit_tag("Add Comment") %>
      <% end %>
    </div>
    <div class='question-show-comments'>
      <%= render partial: "shared/comments", locals: { comments: @question.comments } %>
    </div>
  </div>
  <div class='question-show-answers'>
    <div class='question-show-answers-header'>
      <h2>Answers</h2>
    </div>
    <div class='question-show-answers-container'>
      <%= render partial: "shared/answers", locals: { answers: @question.get_answers } %>
    </div>
  </div>
</div>
