<div class='form-container'>
  <div class='form-header'>
    <h2>Add a Comment</h2>
  </div>

  <div class='form-body'>
    <%= form_for @comment, html: {class: "js-comment-form" } do |f| %>
      <p>Enter your comment below.</p>
      <% if @comment.errors.any? %>
        <ul>
          <% @comment.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      <% end %>

      <ul>
        <li>
          <%= f.label :body %>
          <%= f.text_area :body %>
          <%= f.hidden_field :commentable_type, value: @comment.commentable_type %>
          <%= f.hidden_field :commentable_id, value: @comment.commentable_id %>
        </li>
      </ul>

      <%= f.submit class: 'comment-form-btn' %>
    <% end %>
  </div>
</div>
