<% answers.each do |answer| %>
  <div class='question-show-answer<%= " best-answer" if answer.is_best %>'>
    <% if answer.is_best %>
    <div class='best-answer-box'>
      <p>This answer was voted best by the question asker!</p>
    </div>
    <% end %>
    <div class='question-show-answer-body'>
      <p><%= answer.net_vote %> votes! By <%= answer.user.email %> at <%= answer.created_at.strftime("on %m/%d/%Y at %I:%M%p") %>:</p>
      <p><%= answer.body %></p>
    </div>
    <div class='question-show-answer-footer'>
      <p class='question-show-answer-add-response'><%= link_to 'Add Response', '#' %></p>
      <% if answer.user == current_user %>
        <p class='question-show-answer-add-response'><%= link_to 'Edit Your Answer!', edit_question_answer_path(@question, answer) %></p>
      <% end %>
      <% if @question.user == current_user %>
        <p class='question-show-answer-add-response'><%= link_to 'Mark This Best!', mark_best_question_path(@question, answer_id: answer.id), id: @question.id %></p>
      <% end %>
    </div>
    <div class='question-show-responses'>  
      <%= render partial: "shared/responses", locals: { responses: answer.responses } %>
    </div>
  </div>
<% end %>
