<% answers.each do |answer| %>
  <div class='question-show-answer<%= " best-answer" if answer.is_best %>'>
    <% if answer.is_best %>
    <div class='best-answer-box'>
      <p>This answer was voted best by the question asker!</p>
    </div>
    <% end %>
    <div class='question-show-answer-body'>
      <p>By <%= answer.user.email %> at <%= answer.created_at.strftime("on %m/%d/%Y at %I:%M%p") %>:</p>
      <div class='question-show-votes <%= answer.vote_class(current_user) %>'>
        <%= link_to "/\\", new_vote_path(votable_type: 'Answer', votable_id: answer.id, value: 1, question_id: @question.id) %>
        <%= answer.net_vote %>
        <%= link_to '\/', new_vote_path(votable_type: 'Answer', votable_id: answer.id, value: -1, question_id: @question.id) %>
      </div>
      <p><%= answer.body %></p>
    </div>
    <div class='question-show-answer-footer'>
      <p class='question-show-answer-add-comment'><%= link_to 'Add Comment', '#' %></p>
      <% if answer.user == current_user %>
        <p class='question-show-answer-add-comment'><%= link_to 'Edit Your Answer!', edit_question_answer_path(@question, answer) %></p>
      <% end %>
      <% if @question.user == current_user %>
        <p class='question-show-answer-add-comment'><%= link_to 'Mark This Best!', mark_best_question_path(@question, answer_id: answer.id, ), id: @question.id %></p>
      <% end %>
    </div>
    <div class='question-show-comments'>  
      <%= render partial: "shared/comments", locals: { comments: answer.comments } %>
    </div>
  </div>
<% end %>
