<footer>
  <h2><%= link_to "Stack Awesomeflow", "https://github.com/secade/Stack-Awesomeflow" %> developed by:</h2>
  <ul>
    <li><%= link_to "Chris", "github.com/secade" %></li>
    <li><%= link_to "Maisam", "github.com/Maisam" %></li>
    <li><%= link_to "Mary", "github.com/MaryCBaylis" %></li>
    <li><%= link_to "Peter", "github.com/felix-starman" %></li>
  </ul>
</footer>