<div class='question-all-container'>
  <div class='question-header'>
    <h2>View Questions</h2>
    <div class='question-header-links'>
      <ul>
        <li>Sort by:</li>
        <li><%= link_to 'Recent', '#' %></li>
        <li><%= link_to 'Popular', '#' %></li>
        <li><%= link_to 'Trending', '#' %></li>
      </ul>
    </div>
  </div>

  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
  <div class='question'>
    <div class='question-header'>
      <h4><%= link_to "Here is a Question I had", '#' %></h4>
      <span class='question-votes'>15 votes</span>
    </div>
    <div class='question-content'>
      <p>User: mary@mary.com</p>
      <p>Posted: 10/24/1987 12:24pm</p>
    </div>
  </div>
</div>