<div class='question-show-container'>
  <div class='question-show-question'>
    <div class='question-show-question-header'>
      <h1>This is the question title. Can you understand me? This is the question title. Can </h1>
      <p>mary@mary.com at 10/24/1987 12:01 am</p>
    </div>
    <div class='question-show-question-body'>
      <p>ein richiv kvneginne frov vote ir mvoter hiez ir vater der hiez danchrat der in div erbe liez sit nach sime lebene ein ellens richer man der ovch in siner ivgende grozer eren vil gewan. die drie kvnege waren als ich gesaget han von vil hohem ellen in waren vndertan ovch di besten rechen von den man hat gesagtstarch vnt vil chvene in scarpfen striten vnverzagt. daz was von tronege hagene vnt ovch der brvoder sin danchwart der vil snelle von mezzen ortewin di zwene marcgraven gere vnt ekkewart. volker von alzeye mit ganzem ellen wol bewart rvomolt der chvchenmeister ein tiwerlicher degn sindolt vnt hvonolt dise herren mvosen pflegen des hoves vnt der eren der drier kvnege man si heten noch manegen rechen des ich genennen niene chan. danchwart der was marscalch do was der neve sin trvhsaeze des kvneges von mezzen oertewinsindolt der was scenche ein vzerwelter degn hvonolt was chameraere si chvnden hoher eren pflegn.</p>
    </div>
    <div class='question-show-question-footer'>
      <p><%= link_to 'Add Answer', '#' %></p>
      <p><%= link_to 'Add Comment', '#' %></p>
    </div>
    <div class='question-show-comments'>
      <div class='comment'>
        <p>mary@mary.com: 10/24/1987 12:01 am</p>
        <p>Here is a comment. Some words in this comment.Here is a comment. Some words in this comment.Here is a comment. Some words in this comment.Here is a comment. Some words in this comment.Here is a comment. Some words in this comment.</p>
      </div>
      <div class='comment'>
        <p>mary@mary.com: 10/24/1987 12:01 am</p>
        <p>Here is a comment. Some words in this comment.</p>
      </div>
      <div class='comment'>
        <p>mary@mary.com: 10/24/1987 12:01 am</p>
        <p>Here is a comment. Some words in this comment.</p>
      </div>
    </div>
  </div>
  <div class='question-show-answers'>
    <div class='question-show-answers-header'>
      <h2>Answers</h2>
    </div>
    <div class='question-show-answers-container'>
      <div class='question-show-answer'>
        <div class='question-show-answer-body'>
          <p>by mary@mary.com at 10/24/1987 12:01 am:</p>
          <p>Vns ist in alten maeren wunders vil geseit von heleden lobebaeren von grozer arebeit von vroevden hohgeciten von weinen und von klagen von chvener recken striten muget ir nu wunder hoeren sagen. ez wuohs in bvrgonden ein vil edel magedin daz in allen landen niht schoners mohte sin chriemhilt geheizen si wart ein scoene wip darvmbe mvosen degene vil verliesen den lip der minnechlichen meide trivten wol gezam. ir mvoten chvene recken niemen was ir gram ane mazen schone so was ir edel lip der ivnchfrowen tvgende zierten anderiv wip ir pflagen drie kvnege edel vnde rich gventher vnde gernot di rechen lobelich vnt giselher der ivnge ein vzerwelter degn div frowe was ir swester di fversten hetens in ir pflegn.</p>
        </div>
        <div class='question-show-answer-footer'>
          <p class='question-show-answer-add-comment'><%= link_to 'Add Comment', '#' %></p>
        </div>
        <div class='question-show-comments'>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
        </div>
      </div>
      <div class='question-show-answer'>
        <div class='question-show-answer-body'>
          <p>by mary@mary.com at 10/24/1987 12:01 am:</p>
          <p>Vns ist in alten maeren wunders vil geseit von heleden lobebaeren von grozer arebeit von vroevden hohgeciten von weinen und von klagen von chvener recken striten muget ir nu wunder hoeren sagen. ez wuohs in bvrgonden ein vil edel magedin daz in allen landen niht schoners mohte sin chriemhilt geheizen si wart ein scoene wip darvmbe mvosen degene vil verliesen den lip der minnechlichen meide trivten wol gezam. ir mvoten chvene recken niemen was ir gram ane mazen schone so was ir edel lip der ivnchfrowen tvgende zierten anderiv wip ir pflagen drie kvnege edel vnde rich gventher vnde gernot di rechen lobelich vnt giselher der ivnge ein vzerwelter degn div frowe was ir swester di fversten hetens in ir pflegn.</p>
        </div>
        <div class='question-show-answer-footer'>
          <p class='question-show-answer-add-comment'><%= link_to 'Add Comment', '#' %></p>
        </div>
        <div class='question-show-comments'>
          <div class='comment'>
            <p>mary@mary.com at 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
        </div>
      </div>
      <div class='question-show-answer'>
        <div class='question-show-answer-body'>
          <p>by mary@mary.com at 10/24/1987 12:01 am:</p>
          <p>Vns ist in alten maeren wunders vil geseit von heleden lobebaeren von grozer arebeit von vroevden hohgeciten von weinen und von klagen von chvener recken striten muget ir nu wunder hoeren sagen. ez wuohs in bvrgonden ein vil edel magedin daz in allen landen niht schoners mohte sin chriemhilt geheizen si wart ein scoene wip darvmbe mvosen degene vil verliesen den lip der minnechlichen meide trivten wol gezam. ir mvoten chvene recken niemen was ir gram ane mazen schone so was ir edel lip der ivnchfrowen tvgende zierten anderiv wip ir pflagen drie kvnege edel vnde rich gventher vnde gernot di rechen lobelich vnt giselher der ivnge ein vzerwelter degn div frowe was ir swester di fversten hetens in ir pflegn.</p>
        </div>
        <div class='question-show-answer-footer'>
          <p class='question-show-answer-add-comment'><%= link_to 'Add Comment', '#' %></p>
        </div>
        <div class='question-show-comments'>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
          <div class='comment'>
            <p>mary@mary.com: 10/24/1987 12:01 am</p>
            <p>Here is a comment. Some words in this comment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
